*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
header {
    height: 100px;
    background-color: orange;
    margin-bottom: 60px;
}



/* main */
main {
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.row {
    height: 50%;
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}



.card img {
    max-width: 100%;
}
.card {
    width: 32%;
    height: 100%;
    margin-bottom: 40px;
    
}

.foto {
    width: 100%; 
    object-fit: cover;
    object-position: center; 
}

/* footer*/
footer {
    height: 100px;
    background-color: black;
}